/* @override 
	http://elweb.com/css/print.css
	http://mars:90/assets/css/print.css */

.print-page,
.print-page body {
	background: #fff !important;
}
#header,
nav.nav-bar {
	display: none;
}
@media print { 
	#content-wrapper {
		margin: 0 !important;
	}
	@page { margin: 1.5cm 0.75cm }	
	.page-break { page-break-before: always } 
	
	.tabs-content {
		page-break-before: avoid;
	}
	table {
	    border-collapse: collapse;
	    border-spacing: 0;
	    margin: 0;
	    padding: 0;	    
	}
	td,
	th {}
	thead { display: table-header-group } 

	tr,
	img { page-break-inside: avoid;	max-width: 100% !important }
	
	html,
	body { background: #fff !important }
	
	#search-results { padding-bottom: 40px }
	
	html * {
	    box-shadow: none!important;
	    color: #333!important;
	    text-shadow: none!important;
	}
	a,
	a:visited { text-decoration: underline }

	h1 { padding: 1em 0 0 }
	h2,
	h3,
	p {
	    orphans: 3;
	    widows: 3;
	}
	h2,
	h3,
	.tabs { page-break-after: avoid; break-after: avoid; }
	
	
	html {
	    font-family: sans-serif; 
	    -ms-text-size-adjust: 100%; 
	    -webkit-text-size-adjust: 100%; 
	}
	
	body { margin: 0 }
	
	
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	nav,
	section,
	summary { display: block }
	
	audio,
	canvas,
	progress,
	video {
	    display: inline-block; 
	    vertical-align: baseline; 
	}
	
	[hidden],
	template { display: none }
	
	
	
	#main-content .item,
	#event-cases .item {
	    min-height: 100px;
	    height: auto;
	    background-color: #f5f5f5;
	    margin: 10px 0;
	    padding: 10px 10px 35px 210px;
	    box-shadow: none;
	    border: 1px solid #ddd;
	    position: relative;
	    page-break-inside: avoid;
	}
	
	#main-content .item .case-title,
	#event-cases .item .case-title {
	    font-size: 1em;
	    font-weight: bold;
	    color: #555;
	    margin: 0 0 10px;
	}
	
	#main-content .item .inline-item-list,
	#event-cases .item .inline-item-list {
	    list-style: none;
	    display: block;
	    margin: 0 0 10px;
	    padding: 0;
	    color: #555;
	    float: none;
	    clear: both;
	}
	
	#main-content .item .inline-item-list li,
	#event-cases .item .inline-item-list li {
	    font-size: .85em;
	    display: block;
	    width: 100%;
	    margin: 0 0 1%;
	    position: relative;
	    line-height: 1.25;
	    white-space: nowrap;
	}
	
	#main-content .item .item-list,
	#event-cases .item .item-list {
	    list-style: none;
	    display: block;
	    margin: 0;
	    padding: 0;
	    color: #555;
	    float: none;
	    clear: both;
	}
	
	#main-content .item .item-list > li,
	#event-cases .item .item-list >
	    li {
	    font-size: 14px;
	    margin: 0 1% 0 0;
	    padding: 0;
	    display: block;
	    float: left;
	    width: 49%;
	    position: relative;
	    line-height: 1.75;
	    white-space: nowrap;
	}
	
	#main-content .item .item-list > li span,
	#event-cases .item .item-list > li span { display: inline }
	
	#main-content .item .item-list > li strong,
	#event-cases .item .item-list > li strong {
	    font-weight: bold;
	    display: inline;
	    margin-left: 5px;
	}
	
	#main-content .item .item-thumb,
	#event-cases .item .item-thumb {
	    display: block;
	    position: absolute;
	    left: 10px;
	    top: 10px;
	    float: none;
	    z-index: 1;
	    text-align: center;
	    background: #aaa;
	    border: none;
	    margin: 0;
	    padding: 0;	    
	}
	
	#main-content .item .item-thumb img,
	#event-cases .item .item-thumb img {
	    display: block;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	}
	
	#main-content .item .item-thumb > i.fa,
	#event-cases .item .item-thumb > i.fa {
	    font-size: 80px;
	    color: #aaa;
	    text-align: center;
	    margin-top: 5px;
	}
	
	.item .item-thumb .thumb-overlay {
	    display: none;
	}
	
	.item.archived-item {
	    background-image: url(../images/bg_archive.png);
	    background-position: 0 0;
	    background-repeat: repeat;
	}
	
	.item.archived-item .item-thumb img { display: none }
	
	.item.archived-item .item-thumb:before {
	    font-family: 'FontAwesome';
	    color: #fff;
	    content: '\f187';
	    font-weight: normal;
	    font-size: 3em;
	    text-align: center;
	    margin-top: 15%;
	    display: block;
	}
	
	.item.archived-item.selected .item-thumb:before { color: #31599d }
	
	
	#main-content .item .item-select input,
	#event-cases .item .item-select input {
	    position: absolute;
	    top: 50%;
	    margin: -5px 0 0 -5px;
	    left: 50%;
	}
	
	#main-content .item .item-select .count-wrap,
	#event-cases .item .item-select .count-wrap {
	    position: absolute;
	    width: 34px;
	    height: 25px;
	    line-height: 23px;
	    left: 0px;
	    top: 5px;
	    text-align: center;
	    z-index: 5;
	    font-weight: bold;
	    color: #555;
	    text-shadow: 0 1px 0 #fff !important;
	}
	
	.view-small-thumbs #main-content .item .item-select .count-wrap,
	.view-small-thumbs
	    #event-cases .item .item-select .count-wrap { display: none !important }
	
	.item .button.action {
		display: none;
	}
	
	#main-content .item .action.cases,
	#event-cases .item .action.cases {
	    top: 10px;
	    right: 50px;
	    font-size: .85em;
	}
	
	#main-content .item .data-icon-group,
	#event-cases .item .data-icon-group {
	    position: absolute;
	    bottom: 0;
	    left: 35px;
	    right: 0;
	    border-top: 1px solid #ccc;
	    border-left: none;
	    min-height: 30px;
	    max-height: 58px;
	    padding: 0;
	}
	
	#main-content .item .data-icon-group .data-icon,
	#event-cases .item .data-icon-group .data-icon {
	    font-size: .72em;
	    margin: 0;
	    display: block;
	    float: left;
	    padding: 0 1em;
	    line-height: 30px;
	    text-align: center;
	    border: none;
	    border-right: 1px solid #ccc;
	    color: #555;
	    height: 30px;
	}
	
	#main-content .item .data-icon-group .data-icon .fa,
	#event-cases .item .data-icon-group .data-icon .fa { font-size: 1.25em }
	
	#main-content .item.case-item .item-thumb,
	#event-cases .item.case-item .item-thumb {
	    width: 90px;
	    opacity: .5;
	    background: transparent;
	}
	
	#main-content .item.event-item .data-icon-group,
	#event-cases .item.event-item .data-icon-group {
	    left: 250px;
	    border-radius: 3px 0 0 0;
	    border-left: 1px solid #ddd;
	    background: #f5f5f5;
	}
	
	#main-content .item.event-item .item-thumb,
	#event-cases .item.event-item .item-thumb {
	    border: 1px solid #888;
	    border-radius: 2px;
	    width: 180px;
	    height: 120px;
	}
	
	#main-content .item.selected,
	#event-cases .item.selected {
	    background-color: #BDDFFD;
	    border-color: #3573dc;
	    -webkit-box-shadow: 0px 1px 8px #608AD1;
	    box-shadow: 0px 1px 8px #608AD1;
	}
	
	#main-content .item.selected .data-icon-group,
	#event-cases .item.selected .data-icon-group {
	    background: #a3d2fb !important;
	    border-color: #80abf3 !important;
	}
	
	#main-content .item.selected .data-icon,
	#event-cases .item.selected .data-icon {
	    border-color: #80abf3;
	    border-bottom: none;
	    color: #31599d;
	}
	
	#main-content .item.selected .data-icon:first-child,
	#event-cases .item.selected .data-icon:first-child {
	    border-color: #80abf3 !important;
	    border-left: none;
	}
	
	#main-content .item.selected .item-thumb,
	#event-cases .item.selected .item-thumb {
	    background-color: #BDDFFD;
	    border-color: #80abf3;
	}
	
	#main-content .item.selected .item-thumb >
	    i.fa,
	#event-cases .item.selected .item-thumb >
	    i.fa { color: #31599d }
	
	#main-content .item.selected .item-list li,
	#event-cases .item.selected .item-list li { color: #24395c }
	
	.view-medium-thumbs #main-content .item,
	.view-medium-thumbs
	    #event-cases .item {
	    padding-left: 145px;
	    padding-bottom: 25px;
	    min-height: 100px;
	    margin: 10px 0;
	}
	
	.view-medium-thumbs #main-content .item .data-icon-group,
	.view-medium-thumbs
	    #event-cases .item .data-icon-group { display: none }
	
	.view-medium-thumbs #main-content .item.event-item,
	.view-medium-thumbs
	    #event-cases .item.event-item {
	    padding-left: 135px;
	    min-height: 55px;
	}
	
	.view-medium-thumbs #main-content .item.event-item .item-thumb,
	.view-medium-thumbs
	    #event-cases .item.event-item .item-thumb {
	    width: 100px;
	    height: 67px;
	}
	
	.view-medium-thumbs #main-content .item.event-item .item-thumb img,
	.view-medium-thumbs
	    #event-cases .item.event-item .item-thumb img {
	    width: 100px;
	    height: 67px;
	}
	
	.view-medium-thumbs #main-content .item.archived-item .item-thumb:before,
	.view-medium-thumbs
	    #event-cases .item.archived-item .item-thumb:before {
	    font-family: 'FontAwesome';
	    color: #fff;
	    content: '\f187';
	    font-weight: normal;
	    margin-top: 20%;
	    font-size: 30px;
	    display: block;
	}
	
	.view-medium-thumbs #main-content .item .item-list,
	.view-medium-thumbs
	    #event-cases .item .item-list { margin-right: 50px }
	
	.view-medium-thumbs #main-content .item .item-list li,
	.view-medium-thumbs
	    #event-cases .item .item-list li {
	    font-size: .75em;
	    line-height: 1.5;
	}
	
	.view-medium-thumbs #main-content .item .item-thumb,
	.view-medium-thumbs #main-content .item .item-thumb img,
	.view-medium-thumbs
	    #event-cases .item .item-thumb,
	.view-medium-thumbs
	    #event-cases .item .item-thumb img {
	    height: 75px;
	    width: 75px;
	}
	
	.view-medium-thumbs #main-content .item .thumb-overlay,
	.view-medium-thumbs
	    #event-cases .item .thumb-overlay { display: none }
	
	.view-small-thumbs #main-content .item,
	.view-small-thumbs
	    #event-cases .item {
	    padding: 5px 50px 5px 90px;
	    min-height: 50px;
	    margin: 5px 0;
	}
	
	.view-small-thumbs #main-content .item.event-item .item-thumb,
	.view-small-thumbs
	    #event-cases .item.event-item .item-thumb {
	    height: 40px;
	    width: 60px;
	}
	
	.view-small-thumbs #main-content .item.event-item .item-thumb img,
	.view-small-thumbs
	    #event-cases .item.event-item .item-thumb img {
	    height: 40px;
	    width: 60px;
	}
	
	.view-small-thumbs #main-content .item.archived-item .item-thumb:before,
	.view-small-thumbs
	    #event-cases .item.archived-item .item-thumb:before {
	    font-family: 'FontAwesome';
	    color: #fff;
	    content: '\f187';
	    font-weight: normal;
	    font-size: 24px;
	    text-align: center;
	    margin-top: 15%;
	    display: block;
	}
	
	.view-small-thumbs #main-content .item .data-icon-group,
	.view-small-thumbs
	    #event-cases .item .data-icon-group { display: none }
	
	.view-small-thumbs #main-content .item .item-list,
	.view-small-thumbs
	    #event-cases .item .item-list { margin-right: 50px }
	
	.view-small-thumbs #main-content .item .item-list li,
	.view-small-thumbs
	    #event-cases .item .item-list li {
	    font-size: .7em;
	    line-height: 1.4;
	    width: 32%;
	}
	
	.view-small-thumbs #main-content .item .item-thumb,
	.view-small-thumbs #main-content .item .item-thumb img,
	.view-small-thumbs
	    #event-cases .item .item-thumb,
	.view-small-thumbs
	    #event-cases .item .item-thumb img {
	    height: 40px;
	    width: 40px;
	    top: 8px;
	}
	
	.view-small-thumbs #main-content .item .item-thumb .thumb-overlay,
	.view-small-thumbs #main-content .item .item-thumb img .thumb-overlay,
	.view-small-thumbs
	    #event-cases .item .item-thumb .thumb-overlay,
	.view-small-thumbs
	    #event-cases .item .item-thumb img .thumb-overlay { display: none }
	
	.view-small-thumbs #main-content .item.case-item .item-thumb,
	.view-small-thumbs
	    #event-cases .item.case-item .item-thumb {
	    width: 60px;
	    left: 45px;
	}
	
	.view-small-thumbs #main-content .item.case-item .item-thumb .fa,
	.view-small-thumbs
	    #event-cases .item.case-item .item-thumb .fa { font-size: 40px !important }
	
	    body > .k-window {
	        display: block !important;
	        position: relative !important;
	        top: 0 !important;
	        left: 0 !important;
	        width: 0 !important;
	        height: 0 !important;
	        border-width: 0;
	        box-shadow: none !important;
	    }
	
	    .k-window .k-window-titlebar {
	        display: none;
	    }
	    .k-header {
	    	font-size: 14px;;
	    }
	    .k-grid,
	    .k-grid-content {
	    	width: 100%;
			margin: 0;
			padding: 0;
	    }
	    .k-link {
	    	text-decoration: none;
	    }
	#header,
	#fixed-header,
	.offcanvas-sidebar,
	#main-content .item .item-select,
	#event-cases .item .item-select,
	.item .f-dropdown,
	.item .button.action,
	.attachment-note-buttons,
	.button,
	.joyride-list,
	span.tooltip,
	.item .item-thumb .thumb-mask,
	#content-header,
	#content-filter,
	.tabs dd:not(.active),
	.f-dropdown,
	.reveal-modal,
	.joyride-list,
	#results-msg,
	footer,
	.no-print,
	.show-for-large-thumbs,
	.show-for-medium-thumbs,
	.show-for-small-thumbs,
	.view-large-thumbs .show-for-large-thumbs,
	.view-medium-thumbs .show-for-medium-thumbs,
	.view-small-thumbs .show-for-small-thumbs,
	.view-large-thumbs .hide-for-large-thumbs,
	.view-medium-thumbs .hide-for-medium-thumbs,
	.view-small-thumbs .hide-for-small-thumbs,
	.view-table .hide-for-table,
	.view-table .item,
	#main-content div.item .show-for-large-up,
	.hide-for-large-thumbs,
	.hide-for-medium-thumbs,
	.hide-for-small-thumbs,
	.hide-for-table,
	.k-pager-wrap,
	.k-grid-pager { display: none !important; visibility: hidden !important;}
	
	.view-table .show-for-table { display: inherit !important }
	
	a[href]:after {
		content:  '' !important;
	}

	#item-details-tabs .item + .attachment-note textarea,
	#content-wrapper textarea.right-buttons {
		padding-right: 0px !important;
	}
	
	/* AUDIT */
	.audit-event {
		page-break-inside: avoid;
	}
	.audit-event .audit-detail-list:before,
	.audit-event .audit-type,
	.audit-event .audit-toggle,
	.audit-event .audit-date,
	.audit-event .audit-timeline:before,
	.audit-event .content:before {
		display: none;
	}
	.audit-event .content-perspective {
		margin: 0 15px;
	}
	
	.audit-event .content .audit-detail li {
	    display: block;
	    float: left;
	    width: 33%;
	    padding: 0 10px 0 0;
	    font-size: 13px;
	    white-space: nowrap;
	    overflow: hidden;
	}
	
	.audit-event .content {
		border-color: #aaa;
	}
	
	.audit-event .content .audit-detail-list,
	.audit-event .content .audit-detail-list li,
	.audit-event .content .audit-detail-list li strong,
	.audit-event .content .audit-detail-list li a {
		background: none;
		color: #777;
		box-shadow: none;
		text-shadow: none;
		border-color: #aaa;
	}
	

}