<div class="modal-title">Forward this Share</div><!-- end div.modal-title -->
<div class="mail-stripes"></div>

	<div id="forward-details" class="panel radius">
		<div class="row">
		    <div class="small-12 medium-6 large-6 columns">		
		        <label for="">Originating Agency: <span>Plano PD</span></label>
		    </div><!-- end columns -->
		    <div class="small-12 medium-6 large-6 columns">
		        <label for="">Forwarded By: <span>Jack Dawson, D.A.</span></label>
		    </div><!-- end columns -->
		</div><!-- end row -->
		<div class="row">
			<div class="small-12 medium-6 large-6 columns">
				<label for="">Reference Label: <span>Case #1212312</span></label>
		    </div><!-- end columns -->
		    
		    <div class="small-12 medium-6 large-6 columns">
		        <label for="">Shared Type: <span>Secured Share</span></label>	        
		    </div><!-- end columns -->
		</div><!-- end row -->	

		<div class="row">
		    <div class="small-12 medium-6 large-6 columns">
		        <label for="">Shared On: <span>01/16/15</span></label>	        
		    </div><!-- end columns -->
		    <div class="small-12 medium-6 large-6 columns">
		        <label for="">Expires On: <span>04/16/15</span></label>
		    </div><!-- end columns -->
		</div><!-- end row -->	
		
		
	</div><!-- end div#forward-details -->


	<div class="row">
	    <div class="small-12 medium-6 large-6 columns">
	        <label for="recipient">Recipients</label>
	        <input type="text" name="recipient"  id="recipient"  tabindex="" value="" />
	    </div><!-- end columns -->

	</div><!-- end row -->
		
								
<a class="close-reveal-modal"><i class="fa fa-times-circle"></i></a>
<div class="modal-footer">
	<a href="javascript:void(0);" class="button secondary close-modal">Cancel</a>											                	
	<a href="javascript:void(0);" class="button success anim-button" data-original="Forward Share" data-active="Forwarding ..."><i class="fa fa-paper-plane"></i> Forward Share</a>											                	
</div><!-- end div.modal-footer -->